|
  $("#article-meows").html("#{j(render @meows)}");
  $("[name=\"meow[title]\"]").val(null);
  $("[name=\"meow[url]\"]").val(null);
  $("[name=\"meow[meow_type]\"]").val(null);
  $("[name=\"meow[description]\"]").val(null);
  $("[name=\"meow[content]\"]").val(null);
