.article-previews {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -.2em;
}

.article-title {
  font-size: 3.8em;
}

.article-preview-item {
  flex: 1;
  margin: .2em;
  max-width: 19.7em;
  min-width: 16em;
  overflow: hidden;
  width: 20em;
}

.article-preview-item-img {
  min-height: 8em;
  padding: 2em;
}

.article-preview-item-body {
  font-size: .9em;
}

.article-head {
  min-height: 20em;
  padding: 4em;
}

.title-image {
  align-items: center;
  color: white;
  display: flex;
  justify-content: center;
  text-shadow: 0 0 1em #000;
}
