.article-previews {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -.2em;
}

.article__h1 {
  font-size: 3.6em;
}

.article-preview-item {
  flex: 1;
  margin: .2em;
  max-width: 19.7em;
  min-width: 16em;
  overflow: hidden;
  width: 20em;

  &:hover .article__title-image {
    transform: scale(1.2);

    .h3 {
      transform: scale(0.87);
    }
  }

  &:hover .article-previews__img .hw {
    transform: scale(0.8);
  }

  .h3 {
    transition: transform 0.4s
  }
}

.article-preview__button {
  align-self: center;
}

.article-preview__img {
  height: 10em;
  padding: 1em;
}

.article-preview-item-body {
  font-size: .9em;
}

.article__head {
  min-height: 20em;
  padding: 4em;
}

.article__title-image {
  align-items: center;
  color: white;
  display: flex;
  justify-content: center;
  text-shadow: 0 0 1em #000;
  transition: transform 0.4s;
}
