.header {
  background: $bg-header;
  color: $c-font-inversed;

}

.header__nav {
  margin: .8em 0;
}

.header__nav-item {
  color: $c-font-inversed;
  transition: color 400ms;
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: bold;

  &:hover {
    text-decoration: none;
    color: var(--c-font-active);
  }
}

.header__logo {
  font-size: 1.8em;
}
