
@include media-breakpoint-down(lg) {  // LARGE >
}

@include media-breakpoint-down(md) { // MEDIUM >
  .header__nav {
    margin: .7em 0;
  }

  .header__nav-item {
    font-size: 1em;
    padding: .6rem !important;
  }

  .article__h1 {
    font-size: 3em;
  }

  .article__head {
    min-height: 18em;
  }

  .md img {
    max-width: 60%;
  }
}

@include media-breakpoint-down(sm) { // SMALL >
  .header__nav {
    margin: .6em 0;
  }

  .article__h1 {
    font-size: 2.6em;
  }

  .inner {
    margin-left: -0.8rem !important;
    margin-right: -0.8rem !important;
  }

  .content {
    border-left: none;
    border-right: none;
    border-radius: 0 !important;
  }

  .article__head {
    min-height: 16em;
    padding: 3em;
  }

  .article-preview-item {
    max-width: 100%;
    min-width: 100%;
  }

  .article-preview__img {
    height: 5.4em;
  }

  .md img {
    max-width: 100%;
    width: 100%;
    margin-left: 0;
  }
}

@include media-breakpoint-down(xs) { // XSMALL >
  // .header__nav-item {
    // font-size: .7em;
  // }

  .article__h1 {
    font-size: 2em;
  }

  .article__head {
    min-height: 14em;
    padding: 2em;
  }

  .article__sub-head {
    font-size: 0.7em;
  }

  .md {
    font-size: .8em;
  }

  .comment {
    flex-direction: column;
  }

  .catalog {
    font-size: .7em;
  }
}
